.main-container {
    width: 100%;
    height: 97.5%;
    display: flex;
    align-items: center;
    justify-content: center
}
.footer {
    height: 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: white;
    color: rgb(122, 122, 122);
    font-size: 12px;
}

.page-container {
    width: 25%;
    height: 60%;
    margin: auto;
    display: block;
}

.row {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.form-container {
    width: 100%;
    height: 75%;
}

.form {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.mt-1 {
    margin-top: 7.5%;
}
.form .row {
position: relative;
}
.form .row label {
    color: rgb(122, 122, 122);
    text-align: left;
    position: absolute;
    padding-left: 10%;
}
.form .row input {
    margin: auto;
    border: none;
    border-bottom: 1px solid rgb(122, 122, 122);
    box-shadow: none;
    outline: none;
    font-size: 18px;
    padding: 0 15px; 
    padding-bottom: 5px;
    background: transparent;
    width: 55%;
}
.submit_btn {
    margin: 10% auto;
    padding: 5% 10%;
    background: rgb(113, 153, 204);
    color: rgb(236, 236, 236);
    font-size: 18px;
    font-weight: 800;
    border-radius: 0;
    box-shadow: 0px 0px 0px transparent;
    text-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    cursor: pointer;
}
.hide {
    display: none!important;
}
.con {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: white;
}

#login_success {
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
}
#login_success h1 {
    display: flex;
    color: rgb(196, 196, 196);
    margin: 30% auto;
    height: 100%;
}
.msg {
    color: rgb(201, 32, 32);
    text-align: center;
    width: 100%;
    margin-top: 15%;
}
.forgot-link {
    margin-top: 10%;
    margin-left: 60%;
    text-decoration: none;
    font-size: 14px;
}
.forgot-btn {
    margin-left: 50%!important;
    text-decoration:none!important;
    font-size: 14px!important;
}
.txt-btn {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  color: rgb(113, 153, 204);
  text-decoration:underline;
  cursor: pointer;
  font-size: 16px;
  margin: 0;
}

.txt-btn:hover {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  color: rgb(81, 134, 204);
}

.txt-btn:active {
  outline: none;
  border: none;
}

.txt-btn:focus {
  outline: 0;
}
#forgot {
    height: 100%;
    width: 100%;
}
.forgot-top {
    height: 7vh;
    border-bottom: 1px solid rgb(122, 122, 122);
}
.forgot-top button {
    border-right: 1px solid rgb(122, 122, 122)!important;
}

.reset-header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(113, 153, 204);
}