.tabs {
    width: 100%;
    height: 100%;
}
.tabs-headers {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 7vh;
    border-bottom: 1px solid rgb(126, 126, 126);
    text-align: left;
}
.tab-head {
    display: inline-block;
    height: 100%;
    border-right: 1px solid rgb(126, 126, 126);
}
.tab-active {
    font-weight: 800!important;
    background: rgb(81, 134, 204)!important;
    color:rgb(255, 255, 255)!important;
}
.tab-btn {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: rgb(32, 119, 233);
    cursor: pointer;
    text-align: center;
    width: 12.44vw;
    height: 100%;
}

.tab-btn:hover {
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

.tab-btn:active {
    outline: none;
    border: none;
    font-weight: 800;
}

.tab-btn:focus {
    outline: 0;
}
.tab {
    width: 100%;
    height: 85%;
}