@import '../../style/style.scss';
@import '../../style/gradientBgAnim.scss';

.login {
  .card {
    height: 600px;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: white;
    .ui-tabs {
      width: 100%;
      .tabs-header {
        .tab-header {
          .ui-button {
            .ui-tooltip {
              button {
                height: 60px;
              }
            }
          }
        }
      }
      .ui-tab {
        width: 100%;
        .content {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 0 15px;
          padding-top: 50px;
          .error {
            height: 30px;
            margin-top: 25px;
            color: rgba(218, 56, 56, 0.87);
          }
          .sent {
            height: 30px;
            margin-top: 25px;
            color: rgba(106, 211, 111, 0.87);
          }
          .register-header {
            color: rgba(80, 167, 91, 0.87);
          }
          .success {
            width: 400px;
            margin-top: 30px;
            color: rgba(80, 167, 91, 0.87);
          }
          .ui-text-input {
            margin-top: 20px;

            input {
              padding: 15px 10px;
              font-size: 18px;
              width: 300px;
            }
          }
          .login-button {
            margin-top: 20px;

            .ui-tooltip {
              button {
                padding: 15px 25px;
              }
            }
          }
          .forgot-button {
            .ui-tooltip {
              button {
                border-radius: 0;
                background: transparent;
                color: $PrimaryColor;
                &:hover {
                  color: $PrimaryHoverColor;
                }
              }
            }
          }
        }
      }
    }
  }
}
